name: Hot Wheels Monitor

on:
  schedule:
    - cron: '*/45 * * * *' # Runs every 45 mins to save resources
  workflow_dispatch:      # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write     # REQUIRED: Gives bot permission to save JSON files
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run Scraper
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python monitor.py

      - name: Save Data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add latest_seen.json
          git commit -m "Update seen items" || exit 0
          git push
